<p-table #tableContainer [columns]="tableHeader" [value]="tableBody" [scrollable]="true" scrollHeight="auto"
    [style]="{ 'width': '100%' }" size="small">
    size="small">
    <ng-template pTemplate="header">
        <tr>
            @for (header of tableHeader; track $index) {
            <th>
                {{ header.header }}
            </th>
            }

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            @for (header of tableHeader; track $index) {
            <td>
                <span [innerHTML]="rowData[header.field]"></span>
            </td>
            }
        </tr>
    </ng-template>
</p-table>