<div class="container mt-4">
  <form>
    <!-- [formGroup]="registrationForm" (ngSubmit)="submitForm()" -->
    <div class="row">
      <div class="col-md-6">
        <app-text-input [inputId]="'firstName'" [inputLabel]="'First Name'" [inputClass]="'custom-class'">
        </app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input [inputId]="'lastName'" [inputLabel]="'Last Name'" [inputClass]="'custom-class'">
        </app-text-input>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <app-date-picker [labelName]="'Date of Birth'" selectionMode="single" [minDate]="minDate" [maxDate]="maxDate">
        </app-date-picker>
      </div>


      <div class="col-md-6">
<app-date-picker [labelName]="'Select your stay'" selectionMode="range"></app-date-picker>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>
</div>