<p-floatlabel class="w-full" variant="on">
    <p-select [options]="dropdownDataList" optionLabel="name" [filter]="true" filterBy="name"
        [placeholder]="dropdownPlaceholder" [showClear]="true" class="w-full" [(ngModel)]="selectedValue"
        (ngModelChange)="onDropdownChange($event)">
        <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
                <div>{{ selectedOption.name }}</div>
            </div>
        </ng-template>

        <ng-template let-item #item>
            <div class="flex items-center gap-2">
                <div>{{ item.name }}</div>
            </div>
        </ng-template>
    </p-select>
    <label>{{ labelName }}</label>
</p-floatlabel>